<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
        <%= @cliente.nombre %>
        <%= @cliente.apellido_paterno %>
        <%= @cliente.apellido_materno %>
        </h1>
        <p class="col-md-8 fs-4"><strong>Correo:</strong> <%= @cliente.correo %></p>
        <p class="col-md-8 fs-4"><strong>Teléfono:</strong> <%= @cliente.telefono %></p>
        <p class="col-md-8 fs-4"><strong>Calle:</strong> <%= @cliente.calle %></p>
        <p class="col-md-8 fs-4"><strong>Colonia:</strong> <%= @cliente.colonia %></p>
        <p class="col-md-8 fs-4"><strong>Código Postal:</strong> <%= @cliente.codigo_postal %></p>
        <p class="col-md-8 fs-4"><strong>Ciudad:</strong> <%= @cliente.ciudad %></p>
        <p class="col-md-8 fs-4"><strong>País:</strong> <%= @cliente.pais %></p>
        
        <%= link_to "Editar este cliente", edit_cliente_path(@cliente), class: "btn btn-dark btn-lg"%>
        <%= link_to "Regresar", clientes_path, class: "btn btn-dark btn-lg"%>
      </div>
    </div>
    <div class="cliente-info">


  </div>
  





