<section class="py-5">
<h2 class="display-6 fw-bold pb-md-4">Editar <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h3 class="display-6 fw-bold pb-md-4">Datos de seguridad</h3>
  <div class="mb-3d">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", 
    class:"form-control",
      placeholder:"Correo electronico"   %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
</br>
  <div class="mb-3">
    <i>(Dejar en blanco si no desea cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", 
    class:"form-control",
      placeholder:"Nueva contraseña"   %>
    <% if @minimum_password_length %>
      <em>(Minimo <%=  @minimum_password_length %> caracteres)</em>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", 
    class:"form-control",
      placeholder:"Confirme nueva contraseña"   %>
  </div>

  <div class="mb-3">
    <%= f.label :Contraseña_actual %> <i>(Necesitamos su contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", 
    class:"form-control",
      placeholder:"Contraseña actual" %>
  </div>
  <h3 class="display-6 fw-bold pb-md-4">Datos personales</h3>
  <div class="mb-3">
  <%= f.text_field :nombre, 
  class:"form-control",
  placeholder:"Nombre" %>
  </div>

<div class="mb-3">
  <%= f.text_field :apellido_paterno, 
  class:"form-control",
    placeholder:"Apellido paterno" %>
</div>

<div class="mb-3">
  <%= f.text_field :apellido_materno, 
  class:"form-control",
    placeholder:"Apeliido materno"  %>
</div>

<div class="mb-3">
  <%= f.text_field :telefono, 
  class:"form-control",
    placeholder:"Telefono"  %>
</div>

<div class="mb-3">
  <%= f.text_field :calle, 
  class:"form-control",
    placeholder:"Calle"  %>
</div>

<div class="mb-3">
  <%= f.text_field :colonia, 
  class:"form-control",
    placeholder:"Colonia"  %>
</div>

<div class="mb-3">
  <%= f.text_field :codigo_postal, 
  class:"form-control",
    placeholder:"Codigo postal"  %>
</div>

<div class="mb-3">
  <%= f.text_field :ciudad, 
  class:"form-control",
    placeholder:"Ciudad"  %>
</div>

<div class="mb-3">
  <%= f.text_field :pais, 
  class:"form-control",
    placeholder:"Pais"  %>
</div>
  <div class="actions">
    <%= f.submit "Actualizar", class:"btn btn-secondary" %>
  </div>
<% end %>
</br></br></br>



<div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 class="display-6 fw-bold mb-4">Cancelar mi cuenta</h2>
        <p class="text-muted">¿Desea eliminar su cuenta?</p>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Cancelar mi cuenta</button>
    </div>
</div>
</br></br>
<%= link_to "Regresar", :back, class:"btn btn-dark" %>

<style>
  /* Estilos personalizados para el modal */
  .modal-content {
    border-radius: 0.5rem; /* Ajusta el valor según sea necesario */
  }
</style>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title fw-bold" id="exampleModalLabel">Cancelar mi cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que quieres desactivar tu cuenta? Todos tus datos serán eliminados permanentemente. Esta acción no se puede deshacer.</p>
      </div>
      <div class="modal-footer border-0">
        <%= button_to "Cancelar mi cuenta", registration_path(resource_name), method: :delete, form: { data: { turbo_confirm: '¿Estás seguro?' } }, class:"btn btn-danger" %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

</section>