<h2>Editar <%= resource_name.to_s.humanize %></h2>
</br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3d">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", 
    class:"form-control",
      placeholder:"Correo electronico"   %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
</br>
  <div class="mb-3">
    <i>(Dejar en blanco si no desea cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", 
    class:"form-control",
      placeholder:"Nueva contraseña"   %>
    <% if @minimum_password_length %>
      <em>(Minimo <%=  @minimum_password_length %> caracteres)</em>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", 
    class:"form-control",
      placeholder:"Confirme nueva contraseña"   %>
  </div>

  <div class="mb-3">
    <%= f.label :Contraseña_actual %> <i>(Necesitamos su contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", 
    class:"form-control",
      placeholder:"Contraseña actual" %>
  </div>
  <div class="mb-3">
  <%= f.text_field :nombre, 
  class:"form-control",
  placeholder:"Nombre" %>
  </div>

<div class="mb-3">
  <%= f.text_field :apellido_paterno, 
  class:"form-control",
    placeholder:"Apellido paterno" %>
</div>

<div class="mb-3">
  <%= f.text_field :apellido_materno, 
  class:"form-control",
    placeholder:"Apeliido materno"  %>
</div>

<div class="mb-3">
  <%= f.text_field :telefono, 
  class:"form-control",
    placeholder:"Telefono"  %>
</div>

<div class="mb-3">
  <%= f.text_field :calle, 
  class:"form-control",
    placeholder:"Calle"  %>
</div>

<div class="mb-3">
  <%= f.text_field :colonia, 
  class:"form-control",
    placeholder:"Colonia"  %>
</div>

<div class="mb-3">
  <%= f.text_field :codigo_postal, 
  class:"form-control",
    placeholder:"Codigo postal"  %>
</div>

<div class="mb-3">
  <%= f.text_field :ciudad, 
  class:"form-control",
    placeholder:"Ciudad"  %>
</div>

<div class="mb-3">
  <%= f.text_field :pais, 
  class:"form-control",
    placeholder:"Pais"  %>
  <div class="actions">
    <%= f.submit "Actualizar", class:"btn btn-secondary" %>
  </div>
<% end %>
</br>
<div class="card text-center mb-3">
  <div class="card-body" >
  <h3>Cancelar mi cuenta</h3>
  <div>¿Desea eliminar su cuenta? 
  <%= button_to "Cancelar mi cuenta", registration_path(resource_name), method: :delete, form: { data: { turbo_confirm: '¿Estas seguro?' } }, class:"btn btn-danger" %>
  </div>
  </br>  
  </div>
</div>
</br>  
<%= link_to "Back", :back, class:"btn btn-dark" %>
