<%= form_with(model: proveedor) do |form| %>
  <% if proveedor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
        <% proveedor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3" style="width: 18rem;">
  <label class="form-label">Id del proveedor</label>
  <input class="form-control" placeholder="ID del proveedor" type="number" name="proveedor[proveedor_id]" id="proveedor_proveedor_id" readonly value="<%= @proveedor.proveedor_id || Proveedor.maximum(:proveedor_id).to_i + 1 %>" />
  </div>

  <div class="mb-3">
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre, 
    class:"form-control",
      placeholder:"Nombre" %>
  </div>

  <div class="mb-3">
  <%= form.label :apellido_paterno, style: "display: block" %>
  <%= form.text_field :apellido_paterno, 
  class:"form-control",
    placeholder:"Apeliido paterno" %>
</div>

<div class="mb-3">
  <%= form.label :apellido_materno, style: "display: block" %>
  <%= form.text_field :apellido_materno, 
  class:"form-control",
    placeholder:"Apeliido materno" %>
</div>

  <div class="mb-3">
    <%= form.label :telefono, style: "display: block" %>
    <%= form.text_field :telefono, 
    class:"form-control",
      placeholder:"Telefono" %>
  </div>

  <div class="mb-3">
    <%= form.label :direccion, style: "display: block" %>
    <%= form.text_field :direccion, 
    class:"form-control",
      placeholder:"Direccion" %>
  </div>

  <div class="mb-3">
    <%= form.label :correo, style: "display: block" %>
    <%= form.text_field :correo, 
    class:"form-control",
      placeholder:"Correo" %>
  </div>

  <div class="mb-3">
    <%= form.submit class:'btn btn-secondary'%>
  </div>
<% end %>
