<div id="<%= dom_id orden_producto %>">
  <p>
    <strong>Folio:</strong>
    <%= orden_producto.folio_id %>
  </p>

  <p>
    <strong>Cantidad ordenada:</strong>
    <%= orden_producto.cantidad_ordenada %>
  </p>

  <p>
    <strong>Fecha inicial:</strong>
    <%= orden_producto.fecha_inicial %>
  </p>

  <p>
    <strong>Fecha entrega:</strong>
    <%= orden_producto.fecha_entrega %>
  </p>

  <p>
    <strong>Proveedor:</strong>
    <%= orden_producto.proveedor_id %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= orden_producto.producto_id %>
  </p>

</div>
