<section class="py-5">

<h1>Editar pedido</h1>

<%= form_with(model: @pedido) do |form| %>
  <% if @pedido.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
        <% @pedido.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="mb-3" style="width: 18rem;">
  <label class="form-label">Cantidad ordenada</label>
    <%= form.number_field :cantidad_ordenada, 
    class:"form-control",
    placeholder:"Cantidad ordenada" %>
  </div>

  <div class="mb-3" style="width: 18rem;">
    <%= form.label :fecha_inicial, style: "display: block" %>
    <%= form.text_field :fecha_inicial, value: Time.zone.today, readonly: true, 
    class:"form-control" %>
    <%= form.hidden_field :fecha_inicial, value: Time.zone.today %>
  </div>

  <div class="mb-3" style="width: 18rem;">
    <%= form.label :fecha_entrega, style: "display: block" %>
    <%= form.text_field :fecha_entrega, value: Time.zone.today + 10.days, readonly: true, 
    class:"form-control" %>
    <%= form.hidden_field :fecha_entrega, value: Time.zone.today + 10.days %>
  </div>


</br>
  <div>
    <%= form.submit "Editar",class:"btn btn-secondary"%>
  </div>
<% end %>


<br>
</section>