<section class="py-5">
<h1 class="display-6 fw-bold pb-md-4">Lista de pedidos</h1>
<table class="table table-striped table-hover ">
  <thead class="table-dark">
    <tr>
      <th scope="col">Cantidad ordenada</th>
      <th scope="col">Nombre del producto</th>
      <th scope="col">Fecha Inicial</th>
      <th scope="col">Fecha de entrega</th>
      <th scope="col">ID del usuario</th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <% if pedido.usuario == current_usuario %>
      <tr>
        <td><%= pedido.cantidad_ordenada %></td>
        <td><%= pedido.producto.nombre %></td>
        <td><%= pedido.fecha_inicial %></td>
        <td><%= pedido.fecha_entrega %></td>
        <td><%= pedido.usuario_id %></td>
        <td>  <%= link_to "Mostrar", pedido, class: "btn btn-dark" %></td>
        <td>  <%= button_to "Eliminar", pedido, method: :delete, form: { data: { turbo_confirm: '¿Estas seguro?' } }, class: "btn btn-danger" %></td>
          
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</section>
