<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
        Recibo del pedido
        </h1>
        <p class="col-md-8 fs-4"><strong>Cantidad ordenada:</strong> <%= @pedido.cantidad_ordenada %></p>
        <p class="col-md-8 fs-4"><strong>Fecha inicial:</strong> <%= @pedido.fecha_inicial %></p>
        <p class="col-md-8 fs-4"><strong>Fecha de entrega:</strong> <%= @pedido.fecha_entrega %></p>
        <p class="col-md-8 fs-4"><strong>ID del usuario:</strong> <%= @pedido.usuario_id %></p>             
        <%= link_to "Regresar", pedidos_path, class: "btn btn-dark btn-lg"%>
      </div>
    </div>
    <div class="pedido-info">


  </div>
  





