<div id="<%= dom_id cliente %>">
  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Apellido paterno:</strong>
    <%= cliente.apellido_paterno %>
  </p>

  <p>
    <strong>Apellido materno:</strong>
    <%= cliente.apellido_materno %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= cliente.correo %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= cliente.telefono %>
  </p>

  <p>
    <strong>Calle:</strong>
    <%= cliente.calle %>
  </p>

  <p>
    <strong>Colonia:</strong>
    <%= cliente.colonia %>
  </p>

  <p>
    <strong>Codigo postal:</strong>
    <%= cliente.codigo_postal %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= cliente.ciudad %>
  </p>

  <p>
    <strong>Pais:</strong>
    <%= cliente.pais %>
  </p>

</div>
